

<p> Team Name: <%= params[:team][:name] %> </p>
<p> Team Motto: <%= params[:team][:motto] %> </p>
<% i = 0 %>
<% 3.times do %>
<h1> Hero <%=i+1%> </h1>
  <p> Hero Name: <%= params[:heroes][i][:name] %> </p>
  <p> Hero Power: <%= params[:heroes][i][:power] %> </p>
  <p> Hero Biography: <%= params[:heroes][i][:bio] %> </p>
  <% i += 1 %>
<% end %>
